* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 0.625rem;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem;
}

/* common */
:root {
  --main-color: #2ac9bf;
  --color-sub_heading: #767e7e;
  --color-content: #9da6a5;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 68px;
  background-color: var(--main-color);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
}

.heading-content {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.5;
  color: #0d1111;
}

/* NAV */
main {
  height: 10000px;
}
nav {
  padding: 52px 0 8px 0;
  background-color: #fff;
  position: sticky;
  top: -40px;
  z-index: 1;
}

nav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .navigation .function-nav,
.set-account {
  display: flex;
}

.navigation .function-nav a {
  padding: 8px 20px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2f3a3b;
}

.navigation .function-nav a:hover,
.navigation .set-account li:first-child:hover {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
}

.navigation .set-account {
  font-size: 1.6rem;
  line-height: 1.5;
}

.navigation .set-account li:last-child {
  margin-left: 24px;
}

.navigation .set-account {
  display: flex;
  align-items: center;
}

.navigation .set-account .btn {
  width: 108px;
  height: 48px;
  border: 1px solid #1ebfc1;
  border-radius: 6px;
  background-color: #fff;
  color: var(--main-color);
}
/* HEADER-PART-1 */
header {
  padding-top: 42px;
  padding-bottom: 80px;
}

header .header-content {
  display: flex;
  justify-content: space-between;
}

header .overview {
  width: 458px;
  padding-top: 95px;
}

.header-content .overview .title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #767e7e;
  text-transform: uppercase;
}

.header-content .overview .heading-h {
  padding-top: 18px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.16;
  color: #0d1111;
}

.header-content .overview .sub-heading__h {
  padding-top: 46px;

  max-width: 374px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.777777;
  color: var(--color-content);
}

.header-content .overview .cta-group {
  padding-top: 52px;
  display: flex;
  align-items: center;
}

.header-content .overview .cta-group div {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

/* HEADER-PART-2 */
.header-content .parameter,
.img-header > img {
  width: 576px;
  height: 631px;
}

.header-content .parameter .img-header {
  position: relative;
}

.header-content .parameter .img-header > img {
  object-fit: cover;
  object-position: center;
}

/* QUANTITY BOOK */
.parameter .img-header .quantity-courses {
  position: absolute;
  top: 150px;
  left: -40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 18px 25px;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
}

.parameter .img-header .quantity-courses img {
  padding-right: 16px;
}

.parameter .img-header .quantity-courses span {
  width: 55px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}

/* SCHEDULES */
.parameter .schedules {
  position: absolute;
  bottom: 46px;
  left: -45px;
  background-color: #fff;
  padding: 16px 25px 23px 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}
.parameter .schedules .ratio {
  display: flex;
  flex-direction: column;
}

.parameter .schedules span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}

.parameter .schedules img {
  width: 74px;
  height: 6px;
}

.parameter .schedules img:first-child {
  margin-top: 16px;
  margin-bottom: 12px;
}

.parameter .schedules img:last-child {
  margin-top: 16px;
}

.parameter .schedules img:nth-of-type(3) {
  margin-top: 10px;
  margin-bottom: 16px;
}
/* MEMBERS */
.parameter .members {
  padding: 17px 35px;
  position: absolute;
  bottom: 41px;
  right: 45px;
  background: #fefefd;
  box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding-top: 8px;
}

.parameter .members span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}

.parameter .members .avatar {
  display: flex;
  align-items: center;
  padding-left: 7px;
} 

.parameter .avatar img {
  width: 33px;
  height: 33px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-left: -7px;
}
